.header {
    @extend %base;

    @include media(pc) {
        width: 1366px;
        background-image: url("../img/header/background.png");
    };
    @include media(tab) {
        width: 414px;
        background-image: url("../img/sp/background.png");
    };
    @include media(sp) {
        width: 320px;
        background-image: url("../img/sp/background.png");
    };




    nav {
        display: flex;        
    }

    main {
        @include media(pc) {
            width: 1366px;
            height: 664px;
        };
        @include media(tab) {
            width: 414px;
            height: 579px;
        };
        @include media(sp) {
            width: 320px;
            height: 579px;
        };
    
    }

    &__logo {
        &_img{
            @include media(pc) {
                width: 272px;
            };
            @include media(tab) {
                width: 136px;
                margin-right: 100px;
            };
            @include media(sp) {
                width: 136px;
                margin-right: 100px;
            };
        }
    }
    &__menu {
        &_ham {
            @include media(pc) {
                display: none;
            };
            @include media(tab) {
                display: inline;
            };
        }
        @include media(pc) {
            display: flex;
        };
        @include media(tab) {
            display: none;                
        };
    }
    &__contact {
        @include media(tab) {
            display: none;                
        };
    }

    &__menu1 {
        @extend %base;
        padding-left: 20px;
        padding-right: 20px;
        &_img{
            width: 16px;
        }
    }
    &__menu2 {
        @extend %base;
        padding-left: 20px;
        padding-right: 20px;
        &_img{
            width: 16px;
        }
    }
    &__menu3 {
        @extend %base;
        padding-left: 20px;
        padding-right: 20px;
        &_img{
            width: 28px;
        }
    }
    &__menu4 {
        @extend %base;
        padding-left: 20px;
        padding-right: 20px;
        &_img{
            width: 16px;
        }
    }
    &__mail {
        &_img {
            width: 16px;
            height: 12px;
        }
    }
    &__tel {
        &_img {
            width: 18px;
            height: 18px;
        }
    }
    &__mainvisual1 {
        position: absolute;
    
        &_img {
            position: absolute;
            z-index: 2;
            @include media(pc) {
                width: 570px;
            };
            @include media(tab) {
                top: 200px;
                width: 340px;            
            };
            @include media(sp) {
                top: 200px;
                width: 340px;
            };
        }
    }
    &__mainvisual2 {
        position: absolute;

        &_img {
            position: absolute;
            z-index: 2;
            @include media(pc) {
                width: 570px;
            };
            @include media(tab) {
                top: 200px;
                width: 340px;            
            };
            @include media(sp) {
                top: 200px;
                width: 340px;
            };
        }
    }
    &__mainvisualtext {
        position: absolute;
        z-index: 2;
        @include media(pc) {
            left: 600px;
            top: 100px;
        };
        @include media(tab) {
            left: 150px;
            top: 0px;
        };
        @include media(sp) {
            left: 150px;
            top: 0px;
        };

        &_img {
            position: absolute;
            z-index: 1;
            @include media(pc) {
                left: 450px;
                top: 0px;
                width: 340px;
            };
            @include media(tab) {
                left: 50px;
                top: 0px;
                width: 243px;            
            };
            @include media(sp) {
                left: 50px;
                top: 0px;
                width: 243px;
            };
        }
    }
}