@import "base";
@import "header";
@import "article";


body {
    @extend %base;
    margin: 0px;
    width: 100%;

    @include media(pc) {
      background-color: white;
    };
    @include media(tab) {
      background-color: white;
    };
    @include media(sp) {
      background-color: white;
    };
}