.header, .header__menu1, .header__menu2, .header__menu3, .header__menu4, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1171px) {
  .header {
    width: 1366px;
    background: green;
  }
}

@media only screen and (max-width: 1170px) {
  .header {
    width: 414px;
    background: red;
  }
}

@media only screen and (max-width: 414px) {
  .header {
    width: 320px;
    background: blue;
  }
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1171px) {
  .header main {
    width: 1366px;
    height: 500px;
    background: green;
  }
}

@media only screen and (max-width: 1170px) {
  .header main {
    width: 414px;
    height: 600px;
    background: red;
  }
}

@media only screen and (max-width: 414px) {
  .header main {
    width: 320px;
    height: 600px;
    background: blue;
  }
}

@media only screen and (min-width: 1171px) {
  .header__logo_img {
    width: 272px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__logo_img {
    width: 136px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 414px) {
  .header__logo_img {
    width: 136px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 1171px) {
  .header__menu_ham {
    display: none;
  }
}

@media only screen and (max-width: 1170px) {
  .header__menu_ham {
    display: inline;
  }
}

@media only screen and (min-width: 1171px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1170px) {
  .header__menu {
    display: none;
  }
}

@media only screen and (max-width: 1170px) {
  .header__contact {
    display: none;
  }
}

.header__menu1 {
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu1_img {
  width: 16px;
}

.header__menu2 {
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu2_img {
  width: 16px;
}

.header__menu3 {
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu3_img {
  width: 28px;
}

.header__menu4 {
  padding-left: 20px;
  padding-right: 20px;
}

.header__menu4_img {
  width: 16px;
}

.header__mail_img {
  width: 16px;
  height: 12px;
}

.header__tel_img {
  width: 18px;
  height: 18px;
}

.header__mainvisual1 {
  position: absolute;
}

.header__mainvisual1_img {
  position: absolute;
  z-index: 2;
}

@media only screen and (min-width: 1171px) {
  .header__mainvisual1_img {
    width: 570px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__mainvisual1_img {
    top: 200px;
    width: 340px;
  }
}

@media only screen and (max-width: 414px) {
  .header__mainvisual1_img {
    top: 200px;
    width: 340px;
  }
}

.header__mainvisual2 {
  position: absolute;
}

.header__mainvisual2_img {
  position: absolute;
  z-index: 2;
}

@media only screen and (min-width: 1171px) {
  .header__mainvisual2_img {
    width: 570px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__mainvisual2_img {
    top: 200px;
    width: 340px;
  }
}

@media only screen and (max-width: 414px) {
  .header__mainvisual2_img {
    top: 200px;
    width: 340px;
  }
}

.header__mainvisualtext {
  position: absolute;
  z-index: 2;
}

@media only screen and (min-width: 1171px) {
  .header__mainvisualtext {
    left: 600px;
    top: 100px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__mainvisualtext {
    left: 150px;
    top: 0px;
  }
}

@media only screen and (max-width: 414px) {
  .header__mainvisualtext {
    left: 150px;
    top: 0px;
  }
}

.header__mainvisualtext_img {
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 1171px) {
  .header__mainvisualtext_img {
    left: 450px;
    top: 0px;
    width: 340px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__mainvisualtext_img {
    left: 50px;
    top: 0px;
    width: 243px;
  }
}

@media only screen and (max-width: 414px) {
  .header__mainvisualtext_img {
    left: 50px;
    top: 0px;
    width: 243px;
  }
}

body {
  margin: 0px;
  width: 100%;
}

@media only screen and (min-width: 1171px) {
  body {
    background-color: red;
  }
}

@media only screen and (max-width: 1170px) {
  body {
    background-color: blue;
  }
}

@media only screen and (max-width: 414px) {
  body {
    background-color: yellow;
  }
}
/*# sourceMappingURL=style.css.map */